<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>157509180340-86psh5estber734qum76u9pu1r0t5oef.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.157509180340-86psh5estber734qum76u9pu1r0t5oef</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>157509180340-0iqrcvf3m73nt7s6bharfgroh32dl41n.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD-uCXUi6ViD4pKSXm3trx7_sdaIq-BVBg</string>
	<key>GCM_SENDER_ID</key>
	<string>157509180340</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.esseplor.wholesale</string>
	<key>PROJECT_ID</key>
	<string>esseplor-com</string>
	<key>STORAGE_BUCKET</key>
	<string>esseplor-com.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:157509180340:ios:7d9234295223b5cdac70e1</string>
	<key>DATABASE_URL</key>
	<string>https://esseplor-com-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>